extends layout
block content
	script.
		roomID = '#{room._id}';
		//user 1 is current user
		user1 = '#{userIDs[0]}';
		user1username = '#{usersInRoom[0]}';
		// user 2 is peer
		user2 = '#{userIDs[1]}';
		user2username = '#{usersInRoom[1]}';
	.container
		include includes/nav-simple.jade
		.chatRoom
			if (room)
				.chatPartner
					h1 #{usersInRoom[1]}
					.defaultSettings
						.micSettings
							if (micSettings[1] == false)
								img(src="/images/icon-microphone-none.png")
							else
								img(src="/images/icon-microphone.png")
						.vidSettings
							if (vidSettings[1] == false)
								img(src="/images/icon-switchtoVideo-none.png")
							else
								img(src="/images/icon-switchtoVideo.png")
				.displayMessagesWrap
					ul#incoming
				.sendMessagesWrap
					input#outgoing(type='text')
					.chatOptions
						.chat-btn#chat-btn-image
							img(src='/images/icon-image.png')
						.chat-btn#chat-btn-video
							img(src='/images/icon-switchToVideo.png')
						a(href='/chat/blockuser?id=#{userIDs[1]}')
							.chat-btn#chat-btn-block
								img(src='/images/icon-block.png')
						button.chat-btn#outgoingSubmit(type='submit') Submit
				.videoWrap
					#remotes
					#localScreenContainer
					.localDisplay
						video#localVideo(autoplay muted)
					.videoOptions
						.chat-btn#switchToChat
							img(src='/images/icon-backarrow.png')
						.chat-btn#micOffButton
							img(src='/images/icon-microphone-none.png')
						.chat-btn#videoOffButton
							img(src='/images/icon-switchToVideo-none.png')
						a(href='/chat/blockuser?id=#{userIDs[1]}')
							.chat-btn#chat-btn-block
								img(src='/images/icon-block.png')
	script(src='/js/simplewebrtc.js')
	script(src='/js/client.js')