extends layout
block content
	- function formatDate(date) { var hours = date.getHours(); var minutes = date.getMinutes(); var ampm = hours >= 12 ? 'pm' : 'am'; hours = hours % 12; hours = hours ? hours : 12; minutes = minutes < 10 ? '0'+minutes : minutes; var strTime = hours + ':' + minutes + ' ' + ampm; var months = date.getMonth() +1; return date.getDate() + "/" + months + "/" + date.getFullYear() + "  " + strTime;}
	.container
		include includes/nav.jade
		.chatChoiceWrap
			h1 Chat
			.chatChoices
				a(href='/chat/chatprof')
					button.chatChoice#chatProfessional(type='button') Talk to a professional
				a(href='/chat/chatpeer')
					button.chatChoice#chatPeer(type='button') Talk to a stranger
		if (history)
			.history
				h2 History
				ul.historyconvo
					for item,i in history
						- var z = (100) - [i];
						li(style="z-index: #{z};")
							a(href="/chat/chatpeer?user=#{history[i][0]}")
								ul.historyitem
									.middle-left
										if (history[i][4] == history[i][0])
											.icon
												img(src="/images/icon-block-red.png")
										p=history[i][1]
									.middle-right
										p #{formatDate(history[i][3])}
									.post
										p=history[i][2]
									