extends layout
block content
	.container
		include includes/nav.jade
		.chatChoiceWrap
			h1 Chat
			.chatChoices
				a(href='/chat/chatprof')
					button.chatChoice#chatProfessional(type='button') Talk to a professional
				a(href='/chat/chatpeer')
					button.chatChoice#chatPeer(type='button') Talk to a stranger
		if (history)
			.history
				h2 History
				ul.historyconvo
					for item,i in history
						- var z = (100) - [i];
						li(style="z-index: #{z};")
							a(href="/chat/chatpeer?user=#{history[i][0]}")
								ul.historyitem
									.middle-left
										p=history[i][1]
									.middle-right
										p=history[i][3]
									.post
										p=history[i][2]