extends layout
block content
	.container
		include includes/nav.jade
		.forumWrap
			h1 Forum
			.addPost
				a(href="/forum/new")
					.add
						img(src="/images/newpost.png")
			if (threads)
				.threadList
					ul.threads
						for item,i in threads
							- var z = (100) - [i];
								li(style="z-index: #{z};")
									a(href="/forum/thread?id=#{item[0]}")
										ul.threadItem
											.title
												p=item[1]
											.postnumber
												p=item[5]
											.postuser
												p=item[4]
											.time
												p=item[3]