extends layout
block content
	.container
		if (user)
			if (user.isBlocked)
				.open
					.logo
						img#logo(src='/images/ceda2.png')
					p You have been flagged as being inappropriate on several occassions and as such, have been blocked from using Ceda.
					p If you would like to appeal this please click the button below.
					a(href='/appealblocking')
						button.form-submit(type='button') Appeal
			else
				if (user.username)
					include includes/nav.jade
					.dash
						h1 Hi #{user.username}
						if (alertsForum)
							.threadList
								h2 Recent forum posts
								ul.threads
									for item,i in alertsForum
										- var z = (100) - [i]
											li(style="z-index: #{z};")
												a(href="/forum/thread?id=#{item[0]}")
													ul.threadItem
														.top
															p=item[1]
														.post
															p=item[4]
														.bottom-left
															p=item[3]
														.bottom-right
															p=item[5]
						if (history)
							.history
								h2 Chat History
								ul.historyconvo
									for item,i in history
										- var z = (100) - [i];
										li(style="z-index: #{z};")
											a(href="/chat/chatpeer?user=#{history[i][0]}")
												ul.historyitem
													.middle-left
														p=history[i][1]
													.middle-right
														p=history[i][3]
													.post
														p=history[i][2]
						.logout
							a(href="/logout") Logout
				else
					.open
						.logo
							img#logo(src='/images/ceda2.png')
						h1 Please enter a username
						p Remember Ceda is anonymous, so choose a username that won't reveal any details about you
						form.form-login(role='form', method='post', action='/username')
							input.form-input(type='text', name='username', placeholder='Username')
							input(type='hidden', name='email', value='#{user.email}')
							button.form-submit(type="submit") Submit