extends layout
block content
	- function formatDate(date) { var hours = date.getHours(); var minutes = date.getMinutes(); var ampm = hours >= 12 ? 'pm' : 'am'; hours = hours % 12; hours = hours ? hours : 12; minutes = minutes < 10 ? '0'+minutes : minutes; var strTime = hours + ':' + minutes + ' ' + ampm; var months = date.getMonth() +1; return date.getDate() + "/" + months + "/" + date.getFullYear() + "  " + strTime;}
	.container
		if (user)
			if (user.isBlocked)
				.open
					.logo
						img#logo(src='/images/ceda2.png', alt='logo')
					p You have been flagged as being inappropriate on several occassions and as such, have been blocked from using Ceda.
					p If you would like to appeal this please click the button below.
					a#appeal(href='/appealblocking')
						button.form-submit(type='button') Appeal
			else
				if (user.username)
					if (user.lastLogin === null)
						.welcomeWrap.hero
							h1 Hi #{user.username}
							.welcomeWrapper.hero-wrapper
								ul.welcome.autoplay.hero-slider
									li.selected
										.onboardMessage
											h1 Welcome to Ceda
											.onboardText
												p This is a safe space to talk, vent and seek help. 
											.onboardImage
												img(src="/images/onboard_1.png", alt='welcome to ceda')
									li
										.onboardMessage
											h1 Forum
											.onboardText
												p Share your thoughts on our supportive and welcoming forum.
											.onboardImage
												img(src="/images/onboard_2.png", alt='check out our forum')
									li
										.onboardMessage
											h1 Chat
											.onboardText
												p Feel like venting to an understanding stranger? We're all here to help each other out.
											.onboardImage
												img(src="/images/onboard_3.png", alt='chat with people')
									li
										.onboardMessage
											h1 Ready?
											.onboardText
												p Let's go
											.onboardImage
													img(src="/images/onboard_4.png", alt='lets go')
							.slider-nav
								nav
									.marker.item-1
									ul
										li.selected
										li
										li
										li
					else
						include includes/nav.jade
						.dash
							h1 Hi #{user.username}
							if (alertsForum)
								.threadList
									h2 Recent forum posts
									ul.threads
										for item,i in alertsForum
											- var z = (100) - [i]
											li(style="z-index: #{z};")
												a(href="/forum/thread?id=#{item[0]}")
													ul.threadItem
														.top
															p=item[1]
														.post
															p=item[4].substr(0,100) + '...'
														.bottom-left
															p=item[3]
														.bottom-right
															p #{formatDate(item[5])}
							if (history)
								.history
									h2 Chat History
									ul.historyconvo
										for item,i in history
											- var z = (100) - [i];
											li(style="z-index: #{z};")
												a(href="/chat/chatpeer?user=#{history[i][0]}")
													ul.historyitem
														.middle-left
															if (history[i][4] == history[i][0])
																.icon
																	img(src="/images/icon-block-red.png", alt='user is blocked')
															p=history[i][1]
														.middle-right
															p #{formatDate(history[i][3])}
														.post
															p=history[i][2].substr(0,100) + '...'
							if (!history && !alertsForum)
								.threadList
								.emptyHistory
									h2 Recent Activity
									p No activity yet.
									.emptyImage
										img(src="/images/empty.png", alt='you have no history')
				else
					.open
						.logo
							img#logo(src='/images/ceda2.png', alt='logo')
						h1 Please enter a username
						if (message.length > 0)
							.alert #{message}
						br
						p Remember Ceda is anonymous, so choose a username that won't reveal any details about you
						br
						br
						form.form-login(role='form', method='post', action='/username')
							input.form-input(type='text', name='username', placeholder='Username')
							input(type='hidden', name='email', value='#{user.email}')
							button.form-submit(type="submit") Submit
	.logout
		a(href="/logout") Logout
	script(src='/js/jquery-ui.min.js')
	script(src='/js/onboard.js')
	script.
		lastLogin = '#{user.lastLogin}';
		userID = '#{user._id}';

		if (!lastLogin) {
			$('.logout').css('display', 'none');
		}
