extends layout
block content
	script.
		$(document).ready(function(){
			$('.reply').on('click touch', function(){ 
				$('.postReply').show();
				$('#replytext').focus();
				$('.options').hide();
			});
			$('.forgot').on('click touch', function(){ 
				$('.postReply').hide();
				$('.options').show();
			});
		});
	- function formatDate(date) { var hours = date.getHours(); var minutes = date.getMinutes(); var ampm = hours >= 12 ? 'pm' : 'am'; hours = hours % 12; hours = hours ? hours : 12; minutes = minutes < 10 ? '0'+minutes : minutes; var strTime = hours + ':' + minutes + ' ' + ampm; var months = date.getMonth() +1; return date.getDate() + "/" + months + "/" + date.getFullYear() + "  " + strTime;}
	.container
		include includes/nav-simple.jade	
		.forumWrap
			h1 #{thread[1]}
			if (message.length > 0)
				.alert #{message}
			.threadList
				ul.threads
					for item,i in posts
						- var z = (100) - [i];
						if (i == 0)
							li(style="z-index: #{z}")
								ul.threadItem
									.middle-left
										p=item[2]
									.middle-right
										p #{formatDate(item[4])}
									.post
										p=item[3]
									.bottom-left
									if (user._id == item[1])
										.bottom-right
											a(href="/forum/edit?id=#{item[0]}") edit
											a(href="/forum/delete?id=#{item[0]}") delete
						else
							li
								.postItem
									.middle-left
										p=item[2]
									.middle-right
										p #{formatDate(item[4])}
									.post
										p=item[3]
									.bottom-left
									if (user._id == item[1])
										.bottom-right
											a(href="/forum/edit?id=#{item[0]}") edit
											a(href="/forum/delete?id=#{item[0]}") delete
		.options
			.reply 
				p Reply
		.postReply
			form.form-post(role='form', action="/forum/thread?id=#{thread[0]}", method="POST")
				input.form-input#replytext(type="text", name="content", placeholder="Your reply")
				button.form-submit(type="submit") Submit
				a.forgot Cancel