extends layout
block content
	script.
		$(document).ready(function() {

			$('.onoffswitch-checkbox').on('click touch', function() {
				var check = $(this).prop('checked');
				console.log(this.id + ' checked? '+ check);
			
				if(check === true) {
				console.log('true reached');
					$.ajax ({
						type : 'POST',
						url : '/settings?field='+ this.id,
						data : {
							checked : true,
							id : '#{user._id}'
						}
					});
				} 
				if(check === false) {
				console.log('false reached');
					$.ajax ({
						type : 'POST',
						url : '/settings?field='+ this.id,
						data : {
							checked : false,
							id : '#{user._id}'
						}
					});
				}
			});
		});
	.container
		include includes/nav.jade
		if (user)
			.settingsWrap
				h1 Settings
				.settingsA
					.settingsAccount
						h2 Account
						a(href='/settings/change?field=username')
							.setting
								.settingTitle
									p username
								.settingInput
									p #{user.username}	
						a(href='/settings/change?field=email')
							.setting
								.settingTitle
									p email
								.settingInput
									if (user.email)
										p #{user.email}
									else
										p You have not specified an email address
						if (user.provider === 'local')
							a(href='/settings/change?field=password')
								.setting
									.settingTitle
										p password
									.settingInput
										p ***********
						a(href='/delete')
							.setting
								.settingTitle
									p account
								.settingInput
									p delete account
				.settingsC
					.settingsChat
						h2 Video Chat
						.setting
							.settingTitle
								p microphone
							.onoffswitch
								if (user.defaultMic === true)
									input.onoffswitch-checkbox#defaultMic(type='checkbox', name='defaultMic', checked=true)
								else
									input.onoffswitch-checkbox#defaultMic(type='checkbox', name='defaultMic', checked=false)
								label.onoffswitch-label(for='defaultMic')
									span.onoffswitch-inner
									span.onoffswitch-switch
						.setting
							.settingTitle
								p webcam
							.onoffswitch
								if (user.defaultVideo === true)
									input.onoffswitch-checkbox#defaultVideo(type='checkbox', name='defaultVideo', checked=true)
								else
									input.onoffswitch-checkbox#defaultVideo(type='checkbox', name='defaultVideo', checked=false)
								label.onoffswitch-label(for='defaultVideo')
									span.onoffswitch-inner
									span.onoffswitch-switch