extends layout
block content
	script.
		$(document).ready(function() {
			$('.onoffswitch-checkbox').on('click touch', function() {

				var check = $(this).attr('checked');
				console.log('checked? '+ check);

				if(check === true) {

					$.ajax ({
						type : 'POST',
						url : '/settings?field='+ this.id,
						data : {
							checked : true
						}
					});
				} 
				if(check === undefined) {
				console.log('undefined reached');
					$.ajax ({
						type : 'POST',
						url : '/settings?field='+ this.id,
						data : {
							checked : false
						}
					});
				}

			});
		});
	.container
		include includes/nav.jade
		.settingsWrap
			h1 Settings
			.settingsA
				.settingsAccount
					h2 Account
					a(href='/settings/change?field=username')
						.setting
							.settingTitle
								p username
							.settingInput
								p #{user.username}	
					a(href='/settings/change?field=email')
						.setting
							.settingTitle
								p email
							.settingInput
								p #{user.email}
					if (user.provider === 'local')
						a(href='/settings/change?field=password')
							.setting
								.settingTitle
									p password
								.settingInput
									p ***********
					a(href='/delete')
						.setting
							.settingTitle
								p account
							.settingInput
								p delete account
			.settingsN
				.settingsNotification
					h2 Notifications
					.setting
						.settingTitle
							p messages
						.onoffswitch
							if (user.notifyChat === true)
								input.onoffswitch-checkbox#notifyChat(type='checkbox', name='notifyChat', checked=true)
							else
								input.onoffswitch-checkbox#notifyChat(type='checkbox', name='notifyChat', checked=false)
							label.onoffswitch-label(for='notifyChat')
								span.onoffswitch-inner
								span.onoffswitch-switch
					.setting
						.settingTitle
							p forum replies
						.onoffswitch
							if (user.notifyForum === true)
								input.onoffswitch-checkbox#notifyForum(type='checkbox', name='notifyForum', checked=true)
							else
								input.onoffswitch-checkbox#notifyForum(type='checkbox', name='notifyForum', checked=false)
							label.onoffswitch-label(for='notifyForum')
								span.onoffswitch-inner
								span.onoffswitch-switch
			.settingsC
				.settingsChat
					h2 Video Chat
					.setting
						.settingTitle
							p microphone
						.onoffswitch
							if (user.defaultMic === true)
								input.onoffswitch-checkbox#defaultMic(type='checkbox', name='defaultMic', checked=true)
							else
								input.onoffswitch-checkbox#defaultMic(type='checkbox', name='defaultMic', checked=false)
							label.onoffswitch-label(for='defaultMic')
								span.onoffswitch-inner
								span.onoffswitch-switch
					.setting
						.settingTitle
							p webcam
						.onoffswitch
							if (user.defaultVideo === true)
								input.onoffswitch-checkbox#defaultVideo(type='checkbox', name='defaultVideo', checked=true)
							else
								input.onoffswitch-checkbox#defaultVideo(type='checkbox', name='defaultVideo', checked=false)
							label.onoffswitch-label(for='defaultVideo')
								span.onoffswitch-inner
								span.onoffswitch-switch